body {
   display: grid;
   grid-template-columns: 320px 1fr;
   grid-template-rows: 96px 1fr;
}

aside {
    text-align: center;
    padding: 24px;
    grid-row: 1/3;
    background-color: #ffa784;
}

aside h1 a {
    color: white;
    font-size: 48px;
}

aside ul {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 48px;
    
}

li {
    display: block;
}

li a {
    color: #7e3f00;
    font-size: 24px;
    transition: all 0.3s;
}

li a:hover {
    color: black;
    font-size: 25px;
}

header {
    box-shadow: inset 10px 0 10px -10px rgb(114, 114, 114);
    padding: 24px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: #074b66;
    font-weight: 500;
}

.account-button {
    border-radius: 8px;
    background-color: white;
    padding: 12px;
    border: 2px solid light;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid grey;
}

.account-button p {

    user-select: none;
    -webkit-user-select: none;
}

.account-button img {
    display: block;
    height: 28px;
    border-radius: 50%;
    background-color: #dddddd;
    filter: opacity(0.4);
}

main {
    box-shadow: inset 0 10px 10px -10px rgb(114, 114, 114), inset 10px 0 10px -10px black;
    background-color: rgb(232, 249, 255);
}