main {
    padding: 32px 64px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
}

.prescriptions-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

button {
    background-color: lightsalmon;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: all 0.3s;
}

button:hover {
    background-color: rgb(255, 144, 100);
    cursor: pointer;
}

.modal {
    display: grid;
    place-content: center;
    background-color: rgb(211, 211, 211, 0.5);
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.modal-content {
    background-color: white;
    padding: 16px;

    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input[type="text"], input[type="email"], select {
    margin-top: 8px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
    border: 1px solid lightgrey;
    background-color: #f8f8f8;
    padding: 16px;
}

input:focus {
    background-color: #f0f0f0;
}

input:user-invalid {
    outline: red;
}

button[type="submit"] {
    margin-top: 8px;
    width: 100%;
    font-size: 16px;
    padding: 16px;
    border-radius: 4px;
    border: none;
    background-color: #ffc55b;
    color: white;
    font-weight: bold;
    transition: all 0.3s;
}

button[type="submit"]:hover {
    background-color: #f7be54;
    cursor: pointer;
}

button[type="submit"]:active {
    transform: scale(0.95);
}